* {padding:0; margin:0; vertical-align:baseline; list-style:none; border:0;}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*font-family: 'Poppins', sans-serif;*/

body{
    background: black;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 600px;
    gap: 50px;
}

h1{
    font-size: 5em;
    color:white;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 120px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

footer{
    color: white;
}

ul{
    margin-left: 50px;
}

form{
    display: flex;
    gap:30px;
    flex-grow: row wrap;
}

input{
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 15px;
    outline: 0;
}


form button{

    height: 50px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

.contador{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contador button{
    background: white;
    color: gray;
    font-size: 50px;
    border-radius: 10px;
    height: 60px;
    width: 50px;
}

.contador button:hover{
    cursor: pointer;
}


