* {padding:0; margin:0; vertical-align:baseline; list-style:none; border:0;}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*font-family: 'Poppins', sans-serif;*/

body{
    background: black;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 500px;
    gap: 50px;
}

h1{
    font-size: 5em;
    color:white;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 120px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.list{
    width: 30%;
    text-align: center;
}

form{
    width: 24%;
    display: flex;
    gap:30px;
    justify-content: center;
    flex-wrap: wrap;
}

input{
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 15px;
    outline: 0;
}


form button{
    height: 50px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

footer{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

#developers{
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dev1{
    align-self: flex-start;
    background: #255348;
    width: 45%;
    border-radius: 5px;
}

.dev1 a{
    color: white;
    text-decoration: none;
}

.dev2{
    color: black;
    width: 45%;
    border-radius: 5px;
    background: white;
}

.dev2 a{
    text-decoration: none;
    color: black;
}

.contador{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contador button{
    background: white;
    color: gray;
    font-size: 50px;
    border-radius: 10px;
    height: 60px;
    width: 50px;
}

.pharse{
    width: 95%;
    background: #2C2C2E;
    margin-bottom: 15px;
    padding: 5% 0;
    padding-left: 5%;
    font-size: 20px;
    text-align: start;
}

.list{
    height: 325px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
}

.sublist{
    width: 100%;
}

.footer-title{
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    background: gray;
    margin: 20px 0;
}

.submit{
    width: 90%;
    border: 2px solid gray;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2px;
    margin-left: 5%;
}